@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

@font-face {
    font-family: "Cabin";
    /* A name for the custom font */
    src: url("../assets/fonts/Cabin-Bold.ttf");
    /* The path to the font file */
}

@font-face {
    font-family: "RubikBubbles";
    src: url("../assets/fonts/RubikBubbles-Regular.ttf");
}

li {
    display: inline;
}

div {
    width: 100%;
}

/* Adding a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
    width: 60%;
    /* align-items: center; */
    padding-left: 15%;
    padding-top: 2%;
}

/* Styling the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2% 5%;
    text-decoration: none;
    font-size: 17px;
    font-family: "Cabin";
    font-weight: bold;
}

/* Changing the color of links on hover */
.topnav a:hover {
    background-color: rgba(255, 255, 255, 0.503);
    color: black;
    border-radius: 15px;
}

/* Adding a color to the active/current link */
.topnav a.active {
    background-color: transparent;
    color: #007F5F;
}

.hi_django {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    align-items: center;
    transform: translateX(-50%) translateY(-50%);
}

.Hi {
    font-size: 700%;
    font-family: "Rubik Bubbles";
    color: white;
}

.Django {
    font-size: 700%;
    font-family: "Rubik Bubbles";
    color: #007F5F;
}

.hi_django_style {
    text-shadow: 0px 0px 100px white;
}

.place_holder_under_hi_django {
    font-family: "Cabin";
    color: white;
    font-size: 300%;
    font-weight: 100;
}